* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

p {
  color: #6B625D;
}

.App {
  text-align: center;
}

.loading-icon {
  animation: App-logo-spin infinite 5s linear;
  height: 300px;
}

.App-header {
  background-color: #6B625D;
  padding: 40px 20px 40px 40px;
  color: #F6F2ED;
}

.App-header h2 {
  margin-bottom: 0;
  text-align: left;
}

#app-intro {
  font-size: large;
  width: 85%;
  margin: 0 auto;
}


#loading h3 {
  color: #6B625D;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
#56D8B9
#F6F2ED
#D2BEB7
#6B625D
*/
