.detail-div,
.category-detail-div,
.category-detail-div h3 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: rgba(255, 255, 255, 0.76);
}

.detail-div,
.multi-detail,
.category-detail-div {
  margin: 25px auto 25px auto;
}

.detail-div {
  width: 140px;
  padding: 15px 0;
}

.category-detail-div {
  max-width: 390px;
  padding: 10px 0 40px 0;
}

.category-detail-div h3 {
  margin: 0;
  padding: 3px;
  font-size: 1.25em;
  background-color: #56D8B9;
  position: relative;
  left: -10px;
  top: -22px;
  width: 80px;
}

.category-detail-div p,
.detail-div p {
  margin-bottom: 0px;
}

.category-item-div {
  display: inline-block;
  width: 115px;
  margin: 0 7px;
}

.multi-detail div {
  display: inline-block;
  margin: 0 15px;
}

.detail-icon {
  width: 50px;
  margin: 3px;
}
