h4 {
  background-color: #6B625D;
  padding: 4px 0 4px 0;
  font-size: 1.5em;
  color: #56D8B9;
}

div.cafe-form input,
div.cafe-form input,
div.cafe-form label {
  display: inline-block;
}

div.cafe-form label {
  padding: 5px;
  margin-right: 10px;
}

div.cafe-form div {
  width: 75%;
  margin: 25px auto;
  background-color: #F6F2ED;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*
#56D8B9
#F6F2ED
#D2BEB7
#6B625D
*/
