.detail-div,
.category-detail-div,
.category-detail-div h3 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: rgba(255, 255, 255, 0.76);
}

.detail-div,
.multi-detail,
.category-detail-div {
  margin: 25px auto 25px auto;
}

.detail-div {
  width: 140px;
  padding: 15px 0;
}

.category-detail-div {
  max-width: 390px;
  padding: 10px 0 40px 0;
}

.category-detail-div h3 {
  margin: 0;
  padding: 3px;
  font-size: 1.25em;
  background-color: #56D8B9;
  color: #6B625D;
  position: relative;
  left: -10px;
  top: -22px;
  width: 80px;
}

.category-detail-div p,
.detail-div p {
  margin-bottom: 0px;
}

.category-item-div {
  display: inline-block;
  width: 115px;
  margin: 0 7px;
}

#coffeeTea .category-item-div {
  width: 180px;
}

.multi-detail div {
  display: inline-block;
  margin: 15px;
}

.detail-icon {
  width: 50px;
  margin: 3px;
}

.edit-detail {
  background-color: rgba(255, 255, 255, 0.40);
}

p.note {
  font-size: .6em;
  text-transform: uppercase;
  color: rgba(0,0,0,0.4);
}

#gender-neutral {
  width: 220px;
}

p.detail-note {
  color: #6B625D;
  font-size: .75em;
  text-transform: uppercase;
}

div.select-option {
  margin: 0 10px;
}

.select-option button,
button.select-option {
  margin: 15px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.40);
}

.select-option p {
  margin-top: 2px;
}

.category-item-div.multi-option img {
  padding: 6px;
  border-radius: 10px;
}

.category-item-div.multi-option:hover img {
  background-color: rgba(86, 216, 185, 0.40);
}

.category-item-div.multi-option-selected img {
  padding: 3px;
  border-radius: 10px;
  border: 3px solid #56D8B9;
}

.category-item-div.multi-option-selected:hover img {
  border: 3px solid rgba(86, 216, 185, 0.40);
}

.detail-div.multi-option,
.detail-div.multi-option-selected {
  background-color: rgba(255, 255, 255, 0.40);
}

.detail-div.multi-option:hover {
  background-color: rgba(86, 216, 185, 0.40);
}

.detail-div.multi-option-selected:before {
  content: "✓";
  display: block;
  color: #56D8B9;
  font-size: 80px;
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
}

.detail-div.multi-option-selected:hover:before {
  color: rgba(86, 216, 185, 0.40);

}
