#nav-bar {
  float: right;
  margin-bottom: 0;
  height: 20px;
}

#nav-bar.hidden {
  display: none;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px 0 10px;
  padding: 6px 11px;
  border-radius: 15px 15px 0 0;
  height: 35px;
  color: #F6F2ED;
  background-color: rgba(255, 255, 255, 0.40);
}

.nav-link:hover {
  color: #F6F2ED;
  background-color: rgba(86, 216, 185, 0.40);
}

.nav-link.current {
  color: #F6F2ED;
  background-color: rgba(86, 216, 185, 0.60);
}



/*
#56D8B9
#4ABA9F
#F6F2ED
#D2BEB7
#6B625D
*/
