.padding-div p {
  display: hidden;
}

#show-cafe h2 {
  text-align: left;
  padding: 5px 0 5px 20px;
  margin-bottom: 0;
  border-bottom: #F6F2ED solid 5px;
  border-top: #F6F2ED solid 5px;
  color: #F6F2ED;
  background-color: #56D8B9;
  font-size: 4em;
  color: rgba(107, 98, 93, 0.63);
  text-shadow: 1px 4px 6px #56D8B9, 0 0 0 #6B625D, 1px 4px 6px #56D8B9;
}

#show-cafe-details {
  background-color: #D2BEB7;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (max-width: 550px) {
  .padding-div {
    display: none;
  }
  #show-cafe h2 {
    font-size: 3em;
  }
}

/*
#56D8B9
#F6F2ED
#D2BEB7
#6B625D
*/
